@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto-v49-latin-regular.woff2');
}

@font-face {
    font-family: 'DEADCRT';
    src: url('/fonts/deadcrt/DEADCRT.woff2');
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/tic-tac-toe-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    font-family: 'DEADCRT';
    color: rgb(206, 43, 228);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.player {
    font-family: 'DEADCRT';
    color:blueviolet
}

#p1Label, #p2Label {
    text-shadow: 2px 2px 0px rgb(250, 99, 255); 
}

.playerForm {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;

    
}


button {
    justify-self: center;
    padding: 0.5rem 2rem;
    font-family: 'DEADCRT';
    font-weight: bolder;
    color: rgb(228, 139, 250);
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(101, 70, 241);
    border-radius: 5px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-family: 'DEADCRT';
    color: rgb(228, 216, 48);
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid  rgb(101, 70, 241);
    border-radius: 5px;
    height: 2.5rem;
    width: 20rem;

    visibility: hidden;
}

.boardGrid {
    height: 60vh; 
    width: 60vw;
    color: rgb(212, 90, 236);
    border: 3px solid rgb(101, 70, 241);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'Roboto';

    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(101, 70, 241);
    font-size: 7em;
}



