body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerNames {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


button {
    justify-self: center;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border: 1px solid black;
    height: 2.5rem;
    width: 10rem;

    visibility: hidden;
}

.boardGrid {
    border: 1px solid black;
    height: 60vh; 
    width: 60vw;

    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 7em;
}



